.wrapper .policies {
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.policies label input {
    accent-color: #fff;
    margin-right: 4px;
}

.policies a {
    color: #40f;
    font-weight: 600;
    text-decoration: none;
}

.policies a:hover {
    text-decoration: underline;
}

.red-box {
    border: 2px solid rgba(255, 0, 0, 0.2);
}