.wrapper .policies {
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.policies label input {
    accent-color: #fff;
    margin-right: 4px;
}

.policies a {
    color: #40f;
    font-weight: 600;
    text-decoration: none;
}

.policies a:hover {
    text-decoration: underline;
}

.input-box .red-box {
    border: 2px solid rgba(255, 0, 0, 0.2);
}

.error-message {
    color: rgba(200, 0, 0, 0.6);
    font-size: 14px;
    padding-top: 12px;
    font-weight: 600;
}